
ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}    


.head{
    display: flex;
    justify-content: space-between;
    border: solid 3px black;
    padding-left: 5%;
    margin: 50px;
}
.head-container{
    display: flex;
    justify-content: flex-end;
    border: solid 3px red;
}
.stepOne{
background-color: blueviolet;
display: none;
justify-content: space-between;
margin: 0 50px;
padding: 15px 10px;
}
.stepOne input {
width: 300%;
height: 45%;
text-align: center;
}
.stepTwo{
    display: none;
    background-color: blueviolet;
justify-content: space-between;
margin: 0 50px;
padding: 0px;
text-align: center;
    
}
.stepTwo h2 {
    border: black solid 1px;
    padding: 20px;
    background-color: pink;
}
.form-Btn{
    display: block;
    width: 100%;
    margin-top: 7%;
    padding: 3%;
}

.manBtn{
    padding: 3%;
    width: 50%;
}

.listContainer{
    margin: 0 50px;
    background-color: seagreen;
        
}



.manListTitle {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    padding: 15px 20px;
}
.manListItem {
    display: flex;
    justify-content: space-between;
    background-color: plum;
   
    
} 
.listButtonGroup{
    display: flex;
}   
.listContainer button{
    width: 50px;
    
}
.expListItem{
    background-color: sandybrown;
    margin-top: 0px;
    padding: 8px;
    text-align: center;
}

.pToggle{
    display: none;
}
.completed{
    text-decoration: line-through;
}